<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="deport">
      <div class="container">
        <ul class="deport__list">
          <li class="deport__item">
            <h4 class="deport__item-title">Total students count</h4>
            <p class="deport__item-count-desc">
              <span class="deport__item-count"><%= studentsCount %> </span> ta
            </p>
            <img
              class="deport__item-img"
              src="images/deport_statistic.png"
              alt="img"
              width="100"
              height="100"
            />
          </li>
          <li class="deport__item">
            <h4 class="deport__item-title">Total groups count</h4>
            <p class="deport__item-count-desc">
              <span class="deport__item-count"><%= groupsCount %> </span> ta
            </p>
            <img
              class="deport__item-img"
              src="images/deport_statistic.png"
              alt="img"
              width="100"
              height="100"
            />
          </li>
          <li class="deport__item">
            <h4 class="deport__item-title">Total teachers count</h4>
            <p class="deport__item-count-desc">
              <span class="deport__item-count"><%= teachersCount %> </span> ta
            </p>
            <img
              class="deport__item-img"
              src="images/deport_statistic.png"
              alt="img"
              width="100"
              height="100"
            />
          </li>
          <li class="deport__item">
            <h4 class="deport__item-title">Total courses count</h4>
            <p class="deport__item-count-desc">
              <span class="deport__item-count"><%= coursesCount %> </span> ta
            </p>
            <img
              class="deport__item-img"
              src="images/deport_statistic.png"
              alt="img"
              width="100"
              height="100"
            />
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
